Source: ocsinventory-reports
Section: ocsinventory
Priority: main
Maintainer: Rudy Laurent <rudy.laurent@factorfx.com>
Build-Depends: debhelper (>= 7.0.50~)
Homepage: https://www.ocsinventory-ng.org/

Package: ocsinventory-reports
Architecture: all
Recommends: dmidecode, hdparm, pciutils
Suggests: nmap, smartmontools, read-edid
Depends: debconf-2.0, build-essential, mariadb-server, apache2, php, php-mbstring, php-pclzip, php-mysql, php-curl, php-xml, php-zip, php-gd, php-ldap
Description: Hardware and software inventory tool (web console and database)
 Open Computer and Software Inventory Next Generation is an
 application designed to help a network or system administrator to
 keep track of the hardware and software configurations of computers
 that are installed on the network.  It also allows deploying
 software, scripts and files on client computers.
